.transactionContainer {
  margin: 10px 0px;
}

.checkoutTable td {
  padding: 4px 4px;
  padding: 4px 4px;
  font-size: 20px;
  text-align: center;
}
.item {
  width: 50%;
}
.checkoutTable thead td {
  font-weight: bold;
}
@media (max-width: 600px) {
  .checkoutTable td {
    font-size: 14px;
  }
}

.backDrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.transactionContainer {
  background: lightgreen;
  padding: 10px;
  text-align: center;
}
